# 状況.txtを更新しない
/saitama_neko/状況.txt
# ゴミ関数、クラス置き場
/saitama_neko/Trash.py
# 秘密
/saitama_neko/Credentials
/saitama_neko/Credentials.csv
# ゴミ置き場
/saitama_neko/Trash
# pycache
/saitama_neko/__pycache__
# 認証情報登録モジュール
/saitama_neko/TwittetAPICredentials.py
# ローカルのメモ等
/Local
/.idea